<style>
    #searchResults {
        border: 1px solid black;
        border-collapse: collapse;
        font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
    }

    #searchResults td {
        border: 1px solid black;
        padding: 5px;
    }

    #searchResults thead td {
        color: white;
        background-color: black;
    }

    #searchResults td a {
        text-decoration: none;
        color: black;
    }

    #searchResults td a:visited {
        text-decoration: none;
        color: grey;
    }

    #searchResults tr.lowScore {
        color: lightgrey;
    }

    #searchResults tr.lowScore a, a:visited {
        color: lightgrey;
    }
</style>
<table id="searchResults">
    <thead>
    <tr>
        <td>Score</td>
        <td>Make and Model</td>
        <td>Year</td>
        <td>Mileage</td>
        <td>Price</td>
        <td>Flags</td>
        <td>PO</td>
        {#<td>Economy</td>#}
    </tr>
    </thead>

    {% for car in cars %}
        {% set score = car.getScore() %}

        {% if score < 0 %}
            <tr class="lowScore">
        {% else %}
            <tr>
        {% endif %}
        <td>
            {{ score }}
        </td>
        <td>
            <a target="_blank" href="{{ car.uri }}">
                {{ car.makeAndModel }}
                <small>{{ car.edition }}</small>
            </a>
        </td>
        <td>
            {{ car.buildYear }}
        </td>
        <td>
            {{ car.roundedMileage }} dkm
        </td>
        <td>
            {{ car.roundedPrice|number_format(1, ',', '.') }}K
        </td>
        <td>
            {% if car.isForeign %}<a title="Foreign">F</a>{% endif %}
            {% if car.isImport %}<a title="Imported">I</a>{% endif %}
        </td>
        <td>
            {{ car.privateOwnerCount }}
        </td>
        {#<td>#}
        {#{{ car.fuelEconomy|number_format(1, ',', '.') }} l/100km#}
        {#</td>#}
        </tr>
    {% endfor %}
</table>
